# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react-frontend/node_modules
/react-frontend/.pnp
react-frontend/.pnp.js

# testing
/react-frontend/coverage

# production
/react-frontend/build

# misc
react-frontend/.DS_Store
react-frontend/.env.local
react-frontend/.env.development.local
react-frontend/.env.test.local
react-frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
